
  
  body {
    color: #222;
    background: #f1f0f0;
    font: 18px/30px Georgia, serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
  }

  h1, 
  h2 {
    color: #806265;
  }


header {
    text-align: center;
}

header ul {
  text-align: left;
}


.containerFlex {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.half {
  max-width: 49%;
  padding: 1rem;
}

article p {
  margin-left: 100px;
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}

.pullquote {
  color: #4d4242;
  max-width: 300px;
  padding: 1.5rem 0;
}

.pullquote.float-left {
  margin: 1.5rem 2rem 1.5rem 0;
}

.pullquote.float-right {
  margin: 1.5rem 0 1.5rem 2rem;
}


#test ul {
  list-style-type: none;
}

#test ol li:nth-child(4) {
  margin-bottom: 1rem;
}

.container {
  display: flex;
}

.container > div {
  max-width: 44%;
  padding: 1rem;
}


.calculator {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

  max-width: 50%;
  margin: 0 auto;
}

.input-group {
  margin: 10px 0;
}

.input-field {
  padding: 5px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.calculate-button, 
.reset-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.reset-button {
  background-color: #e60404;
}

.calculate-button:hover {
background-color: #0056b3;
}

.reset-button:hover {
  background-color: #860505;
}
.result-text {
  font-size: 20px;
  margin-top: 20px;
}



@media (min-width: 568px){
  .containerFlex {
    flex-direction: row;
  }
}


@media (min-width: 768px) {
    body {
        font-size: 1.2rem;
    }
}