body {
    max-width: 800px;
    margin: 0 auto;
    font-family: sans-serif;

    background: #e9e8e8;
    padding: 1rem;

    font-size: 1.1rem;
    line-height: 1.2;
}


header {
    text-align: center;
}


@media (min-width: 768px) {
    body {
        font-size: 1.2rem;
    }
}