
  
  body {
    color: #222;
    background: #e9e8e8;
    font: 18px/30px Georgia, serif;
    max-width: 860px;
    margin: 0 auto;
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
  }


header {
    text-align: center;
}


@media (min-width: 768px) {
    body {
        font-size: 1.2rem;
    }
}